.paginator {
    margin: 20px;
}

.pageNumber {
    padding: 4px;
    border: 1px solid #D9D8B2;
    background-color: #584E63;
    color: #FFFFFF;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color:  black;
}