.header {
    z-index: 0;
    grid-area: h;
    background-color: #584E63;
    border-bottom: 2px solid #FFFFFF;
    box-shadow: 0px 1px 10px #FFFFFF;
}

.header img {
    width: 250px;
    margin: 5px 5px;
}

.loginBlock{
    color: white;
    font-size: 30px;
    float: right;
    padding: 5px 50px;
}

.loginBlock a{
    color:white;
}